@font-face {
  font-family: "cinetype";
  src: url("fonts/GT-Cinetype-Regular.woff2") format('woff2');
}

#bandcamp-map {
  --bc-header-font: "cinetype", "MGD Orion", serif;
  --bc-body-font: "cinetype", sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.d3-tip, .newtips {
  box-sizing: border-box;
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: var(--bc-body-font);
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  z-index: 100000;

  &.hidden {
    opacity: 0;
  }

  /* Creates a small triangle extender for the tooltip */
  &:after {
    box-sizing: border-box;
    // display: inline-block;
    display: none;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    top: 24px; left: 0;
    text-align: center;
    z-index: 100000;
  }

  &.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
  }
}

// #map-container {
/* Style northward tooltips specifically */
// .d3-tip.n:after {

// }

// @font-face {
//     font-family: "orion";
//     src: url("fonts/MGDOrion-Regular.woff2") format('woff2');
// }

// @font-face {
//     font-family: "orion";
//     src: url("fonts/MGDOrion-black.woff2") format('woff2');
//     font-weight: bold;
// }

// @font-face {
//     font-family: "orion";
//     src: url("fonts/MGDOrion-italic.woff2") format('woff2');
//     font-style: italic;
// }

// @font-face {
//     font-family: "cinetype";
//     src: url("fonts/GT-Cinetype-Bold.woff2") format('woff2');
//     font-weight: bold;
// }

// @font-face {
//     font-family: "cinetype";
//     src: url("fonts/GT-Cinetype-Bold-Italic.woff2") format('woff2');
//     font-weight: bold;
//     font-style: italic;
// }

// @font-face {
//     font-family: "cinetype";
//     src: url("fonts/GT-Cinetype-Regular-Italic.woff2") format('woff2');
//     font-style: italic;
// }

.stop-left {
    stop-color: #4d3d95;
}

.stop-center {
    stop-color: #3ab1b2;
}

.stop-right {
    stop-color: #fcff00;
}

.filled {
    fill: url(#mainGradient);
}

.circSelect {
  fill: red;
  opacity: 1;
}

.svgText {
  pointer-events: none;
}

.map-instruction {
  color: blue;
  font-family: var(--bc-header-font);
  font-weight: 650;
  font-size: 95px;
  line-height: .825;
  // pointer-events: none;
}

.about-map {
  color: black;
  font-family: var(--bc-body-font);
  font-size: 22;
  letter-spacing: -0.1px;
  line-height: 1.15;
}

.outline {
  stroke: #000;
  stroke-width: 1px;
}

.clip-me {
  fill: #222;
  clip-path: url(#cp);
}

.fym {
  fill: blue;
}
//update

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* padding-bottom: 100%; */
    vertical-align: top;
    overflow: hidden;
}

#bandcamp-map {
  --map-tab-height: 150px;

  display: flex;
  flex-direction: column;
  position: relative;
  // height: 100vh;

  .map-switch {
    // display: flex;
    flex: 0 1 auto;
    height: 100%;
    order: 1;
    position: relative;
    width: 100%;
  }

  .svg-viz-wrap, .svg-map-wrap {
    background-color: white;
    // border: 1px solid grey;
    display: inline-block;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0; left: 0;
    // margin-left: 3em;
    z-index: 500;

    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      display: none;
      width: 100%; height: 100%;
      background-color: rgba(0,0,0,0.3);
      z-index: 600;
    }
  }

  .svg-viz-wrap {
    position: absolute;
    left: 0;
  }

  .svg-viz, .svg-map-wrap > .svg-map {
    display: block;
    margin: 0 auto;
    max-height: 100%;
  }

  .active-map {
    // opacity: 1;
    z-index: 999;

    &::after {
      display: none;
    }
  }

  .mobilenote {
    opacity: 0%
  }
}

.svg-viz-wrap {
  display: flex !important;

  .about-viz-wrap {
    box-sizing: border-box;
    padding-left: 3em;
    padding-top: 1em;
    position: relative;
    width: 30%;

    h1 {
      font-family: var(--bc-header-font);
      font-size: 3em;
      line-height: 0.9;
      width: 140%;
    }

    p {
      font-family: var(--bc-body-font);
      font-size: 0.9em;
      line-height: 1.2;
      pointer-events: none;
      width: 113%;
    }

    .legend-wrap {
      display: flex;
      margin-top: 2em;
      width: 37vw;

      .legend-single {
        flex: 0 1 auto;
        // width: 40%;
      }

      h4 {
        font-family: var(--bc-header-font);
        margin: 0;
        margin-bottom: -1em;
        text-transform: uppercase;
      }

      & div:first-of-type {
        margin-right: 1em;
        // width: 60%;

        svg {
          max-width: 100%;
        }
      }
    }
  }
}

.map-tabs-parent {
  --tab-color: #0D1BE8;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0; top: 0;
  z-index: 100000;

  .single-tab {
    background-color: var(--tab-color);
    box-sizing: border-box;
    color: white;
    display: none;
    font-family: "Andale Mono", monospace;
    font-size: 1em;
    margin-bottom: 0em;
    max-width: 140px;
    padding: 1em;
    text-transform: uppercase;

    &.text-tab, &.regenerate-nodes, &.current {
      // display: inline-block;
      display: flex;
    }

    &.text-tab {
      background-color: black;
    }

    &:hover {
      background-color: #79a8ff;
      cursor: pointer;
    }

    &.current {
      // background-color: rgb(3, 90, 252);
      color: white;
    }
  }

  .single-tab::before {
    content: "❌";
    color: transparent;
    // float: left;
    font-family: "Arial", sans-serif;
    font-size: 1.2em;
    height: 100%;
    // margin-right: 0.8em;
    // margin-bottom: 1em;
    // margin: 1px 0.8em 0.4em 0;
    text-shadow: 0 0 0 #fff;

    display: inline-block;
    width: 30%;
  }

  span {
    display: block;
    width: 70%;
  }

  .single-tab.graph-tab::before,
  .single-tab.map-tab::before {
    content: "➜";
    // font-size: 1.1em;
  }

  .single-tab.regenerate-nodes::before {
    content: "⟲";
    font-size: 1.7em;
    // font-size: 19px;
    font-weight: bold;
    // margin: -1px 0.6em 0em -3px;
  }

  .regenerate-nodes {
    background-color: #27ae3c;
    // display: flex;

    &.disabled, &.disabled-on-map {
      display: none;
    }
  }

  .single-tab.map-tab::before {
    text-align: right;
    transform: rotate(-180deg);
  }
}

#bandcamp-map::after {
  display: table;
  content: "";
  clear: both;
}

@media (max-width:800px) {
  .svg-content {
    // width:100%;
  }
}


//cool change
@media (max-width:500px) {
  .mobilenote {
    opacity: 100%
  }
}

.reveal-viz-about {
  display: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Andale Mono", sans-serif;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 0.7em;
  font-size: 0.9em;
  text-transform: uppercase;
}

.viz-details {
  position: relative;

  h3, .hide-viz-about {
    display: none;
  }

  .hide-viz-about {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    &::before {
      background-color: black;
      color: transparent;
      content: "❌";
      display: inline-block;
      padding: 1em;
      text-shadow: 0 0 0 #fff;
      // width: 50px;
      // height: 50px;
    }
  }
}

// .viz-details .hide-viz-about {
//   &::before {

// }

@media (max-width: 850px) and (min-width: 751px) {
  .svg-viz-wrap .about-viz-wrap {
    padding-left: 1em;
    padding-top: 0;

    p {
      width: 119%;
    }
  }


}

.desktop-rec {
  display: none;
  margin: 0 1em;
  text-align: center;

  h2 {
    font-family: "Andale Mono", monospace;
    font-size: 1.9em;
    text-transform: uppercase;
  }
}

@media (max-width: 750px) {
  .svg-viz-wrap {
    flex-direction: column;

    .about-viz-wrap {
      padding: 0;
      width: auto;

      h1 {
        font-size: 2em;
        text-align: center;
        width: auto;
      }
    }
  }

  .reveal-viz-about {
    display: block;
  }

  .viz-details {
    background-color: white;
    display: none;

    &.modal {
      display: block;
      padding: 2em;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    &.modal h3 {
      display: block;
    }

    &.modal p {
      width: auto;
    }

    &.modal .legend-wrap {
      flex-direction: column;
    }

    &.modal .hide-viz-about {
      display: block;
    }
  }

  .map-tabs-parent {
    background-color: white;
    flex-direction: row;
    position: relative;
    z-index: 1000;

    .single-tab {
      font-size: 0.9em;
      max-width: inherit;
      text-align: center;
      width: 100%;

      &::before {
        display: none;
      }

      span {
        text-align: center;
        width: 100%;
      }
    }

    .regenerate-nodes {
      position: fixed;
      bottom: 0;
      margin-bottom: 0;
    }
  }
  .desktop-rec {
    display: block;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .svg-viz-wrap .about-viz-wrap {
    margin-left: 0.4em;
    padding: 0;
    position: absolute;
    // width: 50%;

    h1 {
      font-size: 1.6em;
      // text-align: center;
      // width: auto;
      // float: left;
      margin-bottom: 0.3em;
      margin-top: 0.3em;
    }
    .reveal-viz-about {
      // float: left;
      font-size: 0.7em;
      width: auto;
    }
  }

  .map-tabs-parent {
    flex-direction: column;
    position: absolute;

    .single-tab {
      margin-left: 0 !important;
      width: auto;

      span {
        text-align: left;
      }
    }
  }

  .viz-details.modal .legend-wrap {
    width: 100%;
  }
}
