.d3-tip, .newtips {
  box-sizing: border-box;
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: "Solanel";
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  z-index: 100000;

  /* Creates a small triangle extender for the tooltip */
  &:after {
    box-sizing: border-box;
    // display: inline-block;
    display: none;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    top: 24px; left: 0;
    text-align: center;
    z-index: 100000;
  }

  &.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
  }
}

// #map-container {
/* Style northward tooltips specifically */
// .d3-tip.n:after {
  
// }

// @font-face {
//     font-family: "orion";
//     src: url("fonts/MGDOrion-Regular.woff2") format('woff2');
// }

// @font-face {
//     font-family: "orion";
//     src: url("fonts/MGDOrion-black.woff2") format('woff2');
//     font-weight: bold;
// }

// @font-face {
//     font-family: "orion";
//     src: url("fonts/MGDOrion-italic.woff2") format('woff2');
//     font-style: italic;
// }

// @font-face {
//     font-family: "cinetype";
//     src: url("fonts/GT-Cinetype-Regular.woff2") format('woff2');
// }

// @font-face {
//     font-family: "cinetype";
//     src: url("fonts/GT-Cinetype-Bold.woff2") format('woff2');
//     font-weight: bold;
// }

// @font-face {
//     font-family: "cinetype";
//     src: url("fonts/GT-Cinetype-Bold-Italic.woff2") format('woff2');
//     font-weight: bold;
//     font-style: italic;
// }

// @font-face {
//     font-family: "cinetype";
//     src: url("fonts/GT-Cinetype-Regular-Italic.woff2") format('woff2');
//     font-style: italic;
// }

.stop-left {
    stop-color: yellow;
}

.stop-right {
    stop-color: red;
}

.filled {
    fill: url(#mainGradient);
}



.svgText {
    pointer-events: none;
}

.outline {
  stroke: #000;
  stroke-width: 1px;
}

.clip-me {
  fill: #222;
  clip-path: url(#cp);
}

//update

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* padding-bottom: 100%; */
    vertical-align: top;
    overflow: hidden;
}
.svg-viz {
    display: inline-block;
    top: 0;
    left: 0;
    width: 44%;
}

.svg-map {
    display: inline-block;
    top: 0;
    left: 0;
    width: 56%;
}
.mobilenote {
  opacity: 0%
}

@media (max-width:800px) {
  .svg-content {
    width:100%;
  }
}


//cool change
@media (max-width:500px) {
  .mobilenote {
    opacity: 100%
  }
}
// }