@font-face {
  font-family: "orion";
  src: url("fonts/MGDOrion-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "orion";
  src: url("fonts/MGDOrion-black.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "orion";
  src: url("fonts/MGDOrion-italic.woff2") format('woff2');
  font-style: italic;
}

@font-face {
  font-family: "cinetype";
  src: url("fonts/GT-Cinetype-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "cinetype";
  src: url("fonts/GT-Cinetype-Bold.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "cinetype";
  src: url("fonts/GT-Cinetype-Bold-Italic.woff2") format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "cinetype";
  src: url("fonts/GT-Cinetype-Regular-Italic.woff2") format('woff2');
  font-style: italic;
}