.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: "cinetype";
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

@font-face {
    font-family: "orion";
    src: url("fonts/MGDOrion-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "orion";
    src: url("fonts/MGDOrion-black.woff2") format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: "orion";
    src: url("fonts/MGDOrion-italic.woff2") format('woff2');
    font-style: italic;
}

@font-face {
    font-family: "cinetype";
    src: url("fonts/GT-Cinetype-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "cinetype";
    src: url("fonts/GT-Cinetype-Bold.woff2") format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: "cinetype";
    src: url("fonts/GT-Cinetype-Bold-Italic.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "cinetype";
    src: url("fonts/GT-Cinetype-Regular-Italic.woff2") format('woff2');
    font-style: italic;
}

.svgText {
    pointer-events: none;
}

.outline {
  stroke: #000;
  stroke-width: 1px;
}

.clip-me {
  fill: #222;
  clip-path: url(#cp);
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* padding-bottom: 100%; */
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    top: 0;
    left: 0;
    width: 50%;
}

@media (max-width:800px) {
  .svg-content {
    width:100%;
  }
}
